<!DOCTYPE html>
<html lang="en">
<%- include('header') %>


    <head>
        <title>About-Us</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

        <style>
            @import url(https://unpkg.com/@webpixels/css/dist/index.css);
        </style>
    </head>

    <body>
        <div class="p-10 bg-surface-secondary" style="height: 750px; margin-top: 70px;">
            <div class="container">
                <div class="card ">
                    <div class="card-header">
                        <h6 class="text-center" style="font-size: 20px;">Acheive max water sustainibility</h6>

                    </div>
                    <div style="text-align: center;"><p>Welcome to WRMS, where innovation meets sustainability in the realm of water management. Established with a vision to revolutionize how we interact with and conserve water resources, our journey began with a simple yet profound idea to make water management smarter, more efficient, and accessible to all.
                        <br>WRSM was founded in 2023 by Kishan,Rahul and Himanshu driven by a shared commitment to addressing the global water crisis. Witnessing the growing challenges of water scarcity and inefficient water usage, we embarked on a mission to develop a cutting-edge solution that combines technology and environmental responsibility.
                    <br>At WRSM, our mission is to empower individuals, businesses, and communities to make informed decisions about their water usage. We strive to be at the forefront of technological advancements, offering intelligent solutions that not only optimize water consumption but also contribute to the sustainable management of this precious resource.
                    <br><br><h3>Join Us in the Water Revolution </h3><br>
                    As we continue to grow and evolve, we invite you to join us in the journey towards a smarter and more sustainable water future. Whether you're an individual looking to make a difference or a business seeking innovative solutions, [Your Company Name] is here to collaborate with you on the path to a water-smart world.
                    
                    Thank you for being a part of our story.</p></div>
                </div>
            </div>
        </div>
    </body>

</html>