<!DOCTYPE html>
<html>
<title>Homepage</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 0;
    }




    .main {
      margin-top: 30px;
      text-align: center;
      /* height: 1500px; */
      /* Used in this example to enable scrolling */
      font-family: Arial, Helvetica, sans-serif;
    }

    footer {
      text-align: center;
      background-color: #022d36;
      color: white;
    }
  </style>


</head>

<body>

  <%- include('header') %>

    <div class="main"><br><br>
      
      <div style="font-size: 50px; ;">
        <img
          src="https://images.pexels.com/photos/4913528/pexels-photo-4913528.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="image not found" style="width:99%; margin-top: -900px; margin-bottom: -45px; z-index:-1;" >
      </div><br>
      <br>
      <footer>
        <div style="color:white;
 font-family: 'Trebuchet MS', sans-serif;
 font-size: 20px;
 padding:16px;
 
 text-align: centre;">
          <div style="font-size: 35px;font-weight:500;">Contributors:</div>
          <div style="font-weight:600"><br>Kishan Kumar
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21053<br><br>Himanshu
            Meena &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21048<br><br>Rahul
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21062</div><br>
            <p style="text-align: center;">Copyright reserved</p>
        </div>
      </footer>
    </div>


</body>

</html>