<!DOCTYPE html>
<html lang="en">
<%- include('header') %>


    <head>
        <title>Map</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

        <style>
            @import url(https://unpkg.com/@webpixels/css/dist/index.css);
        </style>
    </head>

    <body>
        <div class="p-10 bg-surface-secondary" style="height: 750px; margin-top: 70px;">
            <div class="container">
                <div class="card ">
                    <div class="card-header">
                        <h6 class="text-center" style="font-size: 20px;">Pipeline features</h6>
                    </div>
                    <div class="table-responsive">
                       <div style="text-align: center;"> <a href="https://drive.google.com/file/d/13yrZ5PLSLSrH6MFjz179F2Wqsv_d1e5C/view?usp=drive_link" target="_blank" >Click here to view Map</a></div>
                    </div>
                </div>
                <div class="card ">
                    
                    <div class="table-responsive">
                       <div style="text-align: center;"> <a href="https://drive.google.com/file/d/1a84mGeL9MrUGHFqL3WlUxjz2fMMWxGAL/view?usp=drive_link" target="_blank" >Click here to download detailed zip file</a></div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>